#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://bit.ly/2JC7x5P);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding-top: 310px;
  color: white;
}
.header {
  font-size: 3em;
  padding-top: 33px;
  font-family: "Open Sans", sans-serif;
}
.ppp {
  font-size: 1.5em;
}
#mouse {
  animation: mouse 2s infinite;
}
@keyframes mouse {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.about {
  text-align: center;
  line-height: 2;
  font-size: 18px;
}
h2 {
  text-align: center;
  padding-top: 20px;
  font-size: 3em;
}
.services {
  text-align: center;
  font-size: 1.2em;
  line-height: 2;
}
.services {
  font-size:20px;
}
#service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(https://bit.ly/329RzGF);
  height: 50vh;
  color: white;
  padding-top: 90px;
}
#row2 {
  padding-top: 50px;
}
#contacts {
  background-image: url(https://bit.ly/36o6L62);
  height: 40vh;
  color: white;
}
.form {
  display: flex;
  justify-content: center;
  text-align: center;
}
#email,
#textarea,
#name {
  background: transparent;
  color: white;
}
#name::placeholder,
#email::placeholder,
#textarea::placeholder {
  color: white;
}
.roows {
  padding: 1rem;
}
.text {
  position: absolute;
  top: 50%;
  color: black;
  font-size: 1.3em;
  border: 2px solid white;
  background: lime;
  left: 50%;
  transform: translate(-50%, -50%);
}
.text {
  display: none;
}

.portfolio:hover {
  opacity: 0.3;
  transform: scale(1.1);
  transition: opacity 0.5s ease-out;
}
.whatWeDo {
  font-size: 1.2em;
  line-height: 1.9;
  display:none;
}
.pointer {
  cursor: pointer;
}
.pointer:hover {
transform:scale(0.8);
box-shadow: 5px 10px 8px 10px #888888;
}

